{% extends "master.html" %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'recipes:recipe_list' %}" class="btn btn-primary mb-3">&laquo; Back to All Recipes</a>
    <h1>Add a New Recipe</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h4>Ingredients</h4>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="ingredient-form">
                {{ form.as_p }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">Save Recipe</button>
    </form>
</div>
{% endblock %}
